<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href='/static/style.css' />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="up">
                <ul>
                    <li class="logo">
                        <a href="">
                            <img src="/static/image/logo.PNG">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/static/image/icon1.PNG">
                            Trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/static/image/icon2.PNG">
                            Tôi bán
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/static/image/icon3.PNG">
                            Chat
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/static/image/icon4.PNG">
                            Thông báo
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="/static/image/icon5.PNG">
                            Thêm
                        </a>
                    </li>

                </ul>
            </div>
            <div class="down">
                <div class="search">
                    <input type="" name="" placeholder="Tìm kiếm trên chợ tốt">
                    <button>
                        <img src="/static/image/search.png">

                    </button>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="item">
                <a  aria-label ="Bất động sản" href="http://nha.chotot.com" >
                    <img src="/static/image/1.png">
                    Bất động sản
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Xe cộ" href="http://xe.chotot.com" >
                    <img src="/static/image/2.png">
                    Xe cộ
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Xe cộ" href="https://www.chotot.com/mua-ban-do-dien-tu-tp-ho-chi-minh" >
                    <img src="/static/image/3.png">
                    Đồ điện tử
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Đồ gia dụng, nội thất, cây cảnh" href="https://www.chotot.com/mua-ban-do-gia-dung-noi-that-cay-canh-tp-ho-chi-minh" >
                    <img src="/static/image/4.png">
                    Đồ gia dụng, nội thất, cây cảnh
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Giải trí,Thể thao,Sở thích" href="https://www.chotot.com/mua-ban-giai-tri-the-thao-so-thich-tp-ho-chi-minh" >
                    <img src="/static/image/5.png">
                    Giải trí,Thể thao,Sở thích
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Mẹ và bé" href="https://www.chotot.com/mua-ban-do-dung-me-va-be-tp-ho-chi-minh" >
                    <img src="/static/image/6.png">
                    Mẹ và bé
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Dịch vụ, Du lịch" href="https://www.chotot.com/dich-vu-du-lich-tp-ho-chi-minh" >
                    <img src="/static/image/7.png">
                    Dịch vụ, Du lịch
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Việc làm" href="https://www.vieclamtot.com?_ga=2.1636431380098.1150765808.1634194469&ctfp=7d0e5308-210d-41c9-b5aa-41b3e2024b9e" >
                    <img src="/static/image/8.png">
                    Việc làm
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Thú cưng" href="https://www.chotot.com/mua-ban-thu-cung-tp-ho-chi-minh" >
                    <img src="/static/image/9.png">
                    Thú cưng
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Đồ ăn,thực phẩm và các loại khác nhau" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-va-cac-loai-khac-tp-ho-chi-minh" >
                    <img src="/static/image/10.png">
                    Đồ ăn,thực phẩm và các loại khác nhau
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Tủ lạnh,máy lạnh,máy giặc" href="https://www.chotot.com/mua-ban-tu-lanh-may-lanh-may-giat-tp-ho-chi-minh" >
                    <img src="/static/image/11.png">
                    Tủ lạnh,máy lạnh,máy giặc
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Thời trang, Đồ dùng cá nhân" href="https://www.chotot.com/mua-ban-thoi-trang-do-dung-ca-nhan-tp-ho-chi-minh" >
                    <img src="/static/image/12.png">
                    Thời trang, Đồ dùng cá nhân
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Đồ dùng văn phòng,công nông nghiệp" href="https://www.chotot.com/mua-ban-thiet-bi-van-phong-cong-nong-nghiep-tp-ho-chi-minh" >
                    <img src="/static/image/13.png">
                    Đồ dùng văn phòng,công nông nghiệp
                </a>
            </div>
            <div class="item">
                <a  aria-label ="Chơi tặng miễn phí" href="https://www.chotot.com/mua-ban-tp-ho-chi-minh?giveaway=true" >
                    <img src="/static/image/14.png">
                    Chơi tặng miễn phí
                </a>
            </div>

        <div class="content2">
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.com/mua-ban-ban-ghe-quan-binh-thanh-tp-ho-chi-minh/89290763.htm" >
                    <img src="/static/image/ban1.jpg">
                    Chuyên bàn ghế quày bar, ban công có tựa
                        <div>
                            <span class="price___1yCK1">200.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.com/mua-ban-ban-ghe-quan-binh-thanh-tp-ho-chi-minh/89351091.htm" >
                    <img src="/static/image/ban2.jpg">
                    Ghế giám đốc 
                        <div>
                            <span class="price___1yCK1">300.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.com/mua-ban-ban-ghe-quan-binh-thanh-tp-ho-chi-minh/89390214.htm" >
                    <img src="/static/image/ban3.jpg">
                    Bán bàn làm việc & ghế xoay 
                        <div>
                            <span class="price___1yCK1">500.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.com/mua-ban-ban-ghe-huyen-binh-chanh-tp-ho-chi-minh/89387134.htm" >
                    <img src="/static/image/ban444.jpg">
                    Bán ghế liền bàn còn rất mới 
                        <div>
                            <span class="price___1yCK1">270.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.com/mua-ban-ban-ghe-quan-binh-tan-tp-ho-chi-minh/89384038.htm" >
                    <img src="/static/image/ban5.jpg">
                    Ghế đen chân sắt không tay 
                        <div>
                            <span class="price___1yCK1">300.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.com/mua-ban-ban-ghe-quan-10-tp-ho-chi-minh/89391952.htm" >
                    <img src="/static/image/ban6.jpg">
                    Ghế văn phòng, ghế sinh viên 
                        <div>
                            <span class="price___1yCK1">250.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.com/mua-ban-ban-ghe-quan-tan-phu-tp-ho-chi-minh/88584548.htm" >
                    <img src="/static/image/ban7.jpg">
                    Ghế văn phòng giá rẻ 
                        <div>
                            <span class="price___1yCK1">350.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-dung-me-va-be-quan-tan-phu-tp-ho-chi-minh/89444909.htm" >
                    <img src="/static/image/nha1.jpg">
                    Bán rẻ nôi cũi CHILUX 
                        <div>
                            <span class="price___1yCK1">2.500.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-dung-me-va-be-quan-go-vap-tp-ho-chi-minh/89444233.htm" >
                    <img src="/static/image/nha2.jpg">
                    Thanh lý giày bé
                        <div>
                            <span class="price___1yCK1">50.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://nha.chotot.com/tp-ho-chi-minh/quan-7/thue-phong-tro/64775692.htm#px=SR-stickyad-[PO-2][PL-top]" >
                    <img src="/static/image/nha3.jpg">
                    Homestay biệt thự 1,6tr/người Bao gồm tất cả phí
                        <div>
                            <span class="price___1yCK1">1,6 triệu/tháng</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="chuyên bàn ghế" href="https://www.chotot.commua-ban-do-dung-me-va-be-quan-12-tp-ho-chi-minh/89443820.htm" >
                    <img src="/static/image/nha4.jpg">
                    Xe đạp cho bé
                        <div>
                            <span class="price___1yCK1">350.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-ga-quan-8-tp-ho-chi-minh/89325327.htm" >
                    <img src="/static/image/nha5.jpg">
                    Vàng sill mỹ 1k320 zin tay đặc
                        <div>
                            <span class="price___1yCK1">1.400.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-laptop-quan-9-tp-ho-chi-minh/88871247.htm" >
                    <img src="/static/image/nha6.jpg">
                    Dell Precision 7510 i7/6820HQ 16G 256/ssd M2000 4G
                        <div>
                            <span class="price___1yCK1">21.000.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-tivi-am-thanh-quan-go-vap-tp-ho-chi-minh/89443099.htm" >
                    <img src="/static/image/nha7.jpg">
                    Loa 2tat còn mới 450k 
                        <div>
                            <span class="price___1yCK1">450.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-huyen-quang-dien-thua-thien-hue/89137400.htm" >
                    <img src="/static/image/ann1.jpg">
                    Sâm bố chính trồng tại vườn quảng trị, 8 củ
                        <div>
                            <span class="price___1yCK1">690.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com//mua-ban-do-an-thuc-pham-huyen-phu-vang-thua-thien-hue/89410980.htm" >
                    <img src="/static/image/ann2.jpg">
                    HƯƠNG VỊ TÂY BẮC ❤️❤️❤️
                        <div>
                            <span class="price___1yCK1">90.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-thanh-pho-hue-thua-thien-hue/89170136.htm" >
                    <img src="/static/image/ann3.jpg">
                    CÁ CƠM RIM CÔ RI 500GR
                        <div>
                            <span class="price___1yCK1">50.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-thanh-pho-hue-thua-thien-hue/89170005.htm" >
                    <img src="/static/image/ann4.jpg">
                    CÁ CƠM RIM CÔ RI 500GR
                        <div>
                            <span class="price___1yCK1">50.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-thanh-pho-hue-thua-thien-hue/89169946.htm" >
                    <img src="/static/image/ann5.jpg">
                    MẮM DƯA CÀ CÔ RI 500GR
                        <div>
                            <span class="price___1yCK1">50.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-thanh-pho-hue-thua-thien-hue/89169854.htm" >
                    <img src="/static/image/ann6.jpg">
                    MẮM NÊM CÔ RI 500ML 
                        <div>
                            <span class="price___1yCK1">25.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-thanh-pho-hue-thua-thien-hue/89169079.htm" >
                    <img src="/static/image/ann7.jpg">
                    MẮM RUỐC CÔ RI 400GR
                        <div>
                            <span class="price___1yCK1">50.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-quan-ao-quan-hoang-mai-ha-noi/89431217.htm#px=SR-stickyad-[PO-1][PL-top]" >
                    <img src="/static/image/ao1.jpg">
                    Áo len nam cổ tròn kẻ len dệt kim dày mềm mịn
                        <div>
                            <span class="price___1yCK1">150.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-quan-ao-quan-10-tp-ho-chi-minh/89314090.htm#px=SR-stickyad-[PO-3][PL-top]" >
                    <img src="/static/image/ao2.jpg">
                    Thanh Lý 150 Set Nỉ Thời Trang 2021
                        <div>
                            <span class="price___1yCK1">49.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-giay-dep-thanh-pho-bien-hoa-dong-nai/89461734.htm" >
                    <img src="/static/image/ao3.jpg">
                    Giày Sale lẻ sz 37 7cm hàng new fullbox
                        <div>
                            <span class="price___1yCK1">390.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-giay-dep-quan-3-tp-ho-chi-minh/89461695.htm" >
                    <img src="/static/image/ao4.jpg">
                    ADIDAS SALE SÂU
                        <div>
                            <span class="price___1yCK1">1.500.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-nuoc-hoa-quan-12-tp-ho-chi-minh/89281120.htm" >
                    <img src="/static/image/ao5.jpg">
                    Nước hoa CREED
                        <div>
                            <span class="price___1yCK1">1.200.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-giay-dep-quan-10-tp-ho-chi-minh/89461523.htm" >
                    <img src="/static/image/ao6.jpg">
                    Thanh lý giày nữ size 36,37
                        <div>
                            <span class="price___1yCK1">50.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-dong-ho-quan-binh-thanh-tp-ho-chi-minh/89461061.htm" >
                    <img src="/static/image/ao7.jpg">
                    Đh Wyler lên dây Thụy sĩ
                        <div>
                            <span class="price___1yCK1">1.500.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-quan-tan-binh-tp-ho-chi-minh/89434286.htm#px=SR-stickyad-[PO-5][PL-top]" >
                    <img src="/static/image/do1.jpg">
                    2kg BỘT SẮN DÂY BẮC NGUYÊN CHẤT
                        <div>
                            <span class="price___1yCK1">180.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-quan-binh-thanh-tp-ho-chi-minh/43527006.htm" >
                    <img src="/static/image/do2.jpg">
                    Chuyên cung cấp sỉ thịt Bò, Heo, Gà nhập khẩu.
                        <div>
                            <span class="price___1yCK1">1.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-quan-thu-duc-tp-ho-chi-minh/89462215.htm" >
                    <img src="/static/image/do3.jpg">
                    Dồi sụn hà thành và chả cốm hà nội
                        <div>
                            <span class="price___1yCK1">60.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-huyen-hoc-mon-tp-ho-chi-minh/89461968.htm" >
                    <img src="/static/image/do4.jpg">
                    Viên nghệ mật ong 100%
                        <div>
                            <span class="price___1yCK1">150.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-huyen-hoc-mon-tp-ho-chi-minh/89461561.htm" >
                    <img src="/static/image/do5.jpg">
                    Gao dêo
                        <div>
                            <span class="price___1yCK1">12.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-quan-10-tp-ho-chi-minh/89461169.htm" >
                    <img src="/static/image/do6.jpg">
                    Da heo các loại
                        <div>
                            <span class="price___1yCK1">20.000Đ</span>
                        </div>
                </a>
            </div>
            <div class="item1">
                <a  aria-label ="" href="https://www.chotot.com/mua-ban-do-an-thuc-pham-quan-9-tp-ho-chi-minh/89460976.htm" >
                    <img src="/static/image/do7.jpg">
                    Mật ông nhà nuôi tự nhiên
                        <div>
                            <span class="price___1yCK1">500.000Đ</span>
                        </div>
                </a>
            </div>


        <div class="content3">
            <div class="item2">
                <img src="/static/image/nen2.png">
            </div>
        </div>
    </div>
             
</body>
</html>